#paneInicio {
    -fx-background-image: url("../../../src/main/resources/br/com/imd/imgs/gifnavio.gif");
    -fx-background-size: cover;
}

#button-gridpane {
    background-image: url("src/main/java/br/com/imd/imgs/fundo-do-mar.png");
    background-color: red;
    background-size: cover;
}